{% extends 'base.html' %} {% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/semesterdata.css' %}" />
<link rel="stylesheet" href="{% static 'css/student_details.css' %}">
{% endblock %}

{% block content %}

<div class="container-fluid">

  <!-- Check for Data -->
  {% if student_grades %}

  <!-- Semester Info  -->
  <div class="student_info">
    <div class="top_info">
      <div class="row">
        <div class="col-md-6 text-left text-md-left text-center">
          <p><b>Semester:</b> {{semester}}</p>
          <p><b>Academic Year:</b> {{year}}</p>
        </div>
        <div class="col-md-6 text-md-right text-center">
        </div>
      </div>
    </div>
    <!-- Secondary Information -->
    <div class="bottom_info">
      <div class="row">
        <div class="col-md-6 text-left text-md-left text-center">
          <p><b>Exam:</b> {{exam_name}}</p>
          <p><b>Declaration Date:</b> {{declaration_date}}</p>
        </div>
        <div class="col-md-6 text-md-right text-center">
          <p><b>Exam Type:</b> {{type}}</p>
          <p></p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="table_container">
    <table border="1">
      <thead>
        <tr>
          <th>Sr No.</th>
          <th>Enrollment</th>
          <th>Name</th>
          {% for subject in subjects %}
          <th>{{subject}}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for data in student_grades %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{data.enrollment}}</th>
          <td>{{data.student_name}}</th>
          {% for grade in data.grades %}
          <td>{{grade}}</th>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
  {% else %}
  <h3>No Data Found for selected Parameters</h3>
  {% endif %}
</div>
{% endblock %}