{% extends 'base.html' %} {% load static %} 
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/semesterdata.css' %}" />
<link rel="stylesheet" href="{% static 'css/student_details.css' %}">
{% endblock %} 

{% block content %}

<div class="container-fluid">

  <!-- Check for Data -->
  {% if core_table_data %}
  
  <!-- Semester Info  -->
  <div class="student_info">
    <div class="top_info">
      <div class="row">
        <div class="col-md-6 text-left text-md-left text-center">
          <p><b>Semester:</b> {{semester}}</p>
          <p><b>Academic Year:</b> {{academic_year}}</p>
        </div>
        <div class="col-md-6 text-md-right text-center">
        </div>
      </div>
    </div>
    <!-- Secondary Information -->
    <div class="bottom_info">
      <div class="row">
        <div class="col-md-6 text-left text-md-left text-center">
          <p><b>Exam:</b> {{exam}}</p>
          <p><b>Declaration Date:</b> {{declaration_date}}</p>
        </div>
        <div class="col-md-6 text-md-right text-center">
          <p><b>Exam Type:</b> {{exam_type}}</p>
          <p></p>
        </div>
      </div>
    </div>
  </div>
  <br>
<div class="table_container">
  <table border="1">
    <thead>
        <tr>
            {% for header in core_headers %}
            <th>{{header}}</th>
            {% endfor %}
            
            <!-- for Professional & Open Elective grades -->
            {% if combined_data %}
            <th>Professional Subjects</th>
            <th>Grade</th>
            <th>Open Subjects</th>
            <th>Grade</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% if combined_data %}
        {% for row in combined_data %}
          <tr>
            <!-- Core Subjects Row -->
            {% for cell in row.core %}
            <td>{{cell}}</td>
            {% endfor %}
            <!-- Elective Subjects Row -->
            {% for cell in row.elective %}
            <td>{{cell}}</td>
            {% endfor %}
          </tr>
        {% endfor %}
        {% else %}
        {% for row in core_table_data %}
        <tr>
          <!-- Core Subjects Row -->
          {% for cell in row %}
          <td>{{cell}}</td>
          {% endfor %}
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>

</div>
  {% else %}
  <h3>No Data Found for selected Parameters</h3>
  {% endif %}
</div>
{% endblock %}