{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/student_details.css' %}">
{% endblock %}


{% block content %}

<div class="container">

  <div id="printableContent">
    <div class="student_info">
      <div class="top_info">
        <div class="row">
          <div class="col-md-6 text-left text-md-left text-center">
            <p><b>Name:</b>  {{student.name}}</p>
            <p><b>Enrollment No:</b> {{student.enrollment}}</p>
          </div>
          <div class="col-md-6 text-md-right text-center">
            <p><b>SPID:</b> {{student.spid}}</p>
            <p><b>Academic Year:</b> 2022-2023</p>
          </div>
        </div>
        <!-- Photo -->
        <img src="{% static 'images/student_photo.jpg' %}" alt="Student Photo" class="student-photo" />
      </div>
      <!-- Secondary Information -->
      <div class="bottom_info">
        <div class="row">
          <div class="col-md-6 text-left text-md-left text-center">
            <p><b>Semester:</b>  {{current_semester}}</p>
            <p><b>Gender:</b>  {{student.gender}}</p>
          </div>
          <div class="col-md-6 text-md-right text-center">
            <p><b>Program Name:</b> </p>
            <p>{{student.branch.branch_name}}</p>
          </div>
        </div>
      </div>
    </div>
    <br>
  <div style="border: 1px solid #cecebc;">
    <p style="font-weight: 500; font-size: 15px; padding: 8px 0 0 8px;">Backlog Summary</p>
    <!-- Backlog summary Table. -->
    <table border="black" class="table info" style="margin-bottom: 0.89rem;">
      <tbody>
        <!-- First Row: Semesters 1 to 4 -->
        <tr>
          {% for data in backlog_summary|slice:":4" %}
          <th>Semester {{ data.semester }}</th>
          {% endfor %}
        </tr>
        <tr>
          {% for data in backlog_summary|slice:":4" %}
          <td>{{ data.backlog }}</td>
          {% endfor %}
        </tr>
      </tbody>
    </table>

    <table border="black" class="table info" style="margin-bottom: 0;" >
      <tbody> 
        <!-- Second Row: Semesters 5 to 8 -->
        
        <tr>
          {% for data in backlog_summary|slice:"4:8" %}
          <th>Semester {{ data.semester }}</th>
          {% endfor %}
        </tr>
        <tr>
          {% for data in backlog_summary|slice:"4:8" %}
          <td>{{ data.backlog }}</td>
          {% endfor %}
        </tr>
      </tbody>
    </table></div>

  <div>
      <br>
      {% for exam in exam_data %}

      <!-- Semester no. & Type Display Table -->
      <table border="black" width="100%" style="color: white; background-color: #1D82C6; margin-bottom: 10px;">
        {% if exam.exam.exam_type == "REPETER" %}
        <td align="center"><b>{{exam.exam.semester}} (BACKLOG)</b></td>
        {% else %}
        <td align="center"><b>{{exam.exam.semester}}</b></td>
        {% endif %}
      </table>
     
      <!-- semester name & backlog display table -->
      <table border="black" width="100%">
        <tr>
          <td>{{exam.exam.exam_name}}</td>
          <td align="right">Backlog : {{exam.backlog}}</td>
        </tr>
      </table>

      <!-- subjects Grade Display Table for each semester -->
      <table border="black" width="100%">
        <tr bgcolor="d9e5ed">
          <th>SUB_CODE</th>
          <th>SUBJECT NAME</th>
          <th>GRADE</th>
        </tr>
        {% for grade in exam.grades %}
        <tr>
          <td>{{grade.subject_bss.subject.subject_code}}</td>
          <td>{{grade.subject_bss.subject.subject_name}}</td>
          <td>{{grade.grade}}</td>
        </tr>
        {% endfor %}
      </table>
      <br> 

      {% endfor %}



    </div>
    <button type="submit" id="printButton" >Print</button>
  </div>

  {% endblock %}