{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/subject.css' %}">
{% endblock %}

{% block content %}
<p class="sub_text">Select the Subject to view the Entire Result</p>

<div class="search-box">
  <form id="subjectForm" method="get" action="{% url 'subject_data' %}">
    {% csrf_token %}

    <label for="year">Academic Year</label>
    <select name="year" id="year">
      {% for year in academic_years %}
      <option>{{ year }}</option>
      {% endfor %}
    </select>

    <label for="subject">Subject</label>
    <select name="subject" id="subject">
      {% for subject in subjects %}
      <option>{{ subject }}</option>
      {% endfor %}
    </select>

    <label for="branch">Branch</label>
    <select name="branch" id="branch">
      {% for branch in branches %}
      <option>{{ branch }}</option>
      {% endfor %}
    </select>

    <label for="exam_type">Exam Type</label>
    <select name="exam_type" id="exam_type">
      <option>REGULAR</option>
      <option>REPETER</option>
    </select>

    <br><br>
    <button type="submit">Search</button>

  </form>
</div>


{% endblock %}