{% extends 'base.html' %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'css/subjectdata.css' %}"/>
<link rel="stylesheet" href="{% static 'css/student_details.css' %}">
{% endblock %} {% block content %}

<div class="student_info">
  <div class="top_info">
    <div class="row">
      <div class="col-md-6 text-left text-md-left text-center">
        <p>SUBJECT CODE: {{students_grade.0.subject_bss.subject.subject_code}}</p>
        <p>SUBJECT NAME: {{students_grade.0.subject_bss.subject.subject_name}}</p>
      </div>
      <div class="col-md-6 text-md-right text-center">
        <p>SEMESTER: {{students_grade.0.subject_bss.semester}}</p>
        <p>Academic Year: {{students_grade.0.student_exam.exam_data.academic_year}}</p>
      </div>
    </div>
  </div>
  <!-- Secondary Information -->
  <div class="bottom_info">
    <div class="row">
      <div class="col-md-6 text-left text-md-left text-center">
        <p>Exam : {{students_grade.0.student_exam.exam_data.exam_name}}</p>
        <p>Declaration Date : {{students_grade.0.student_exam.exam_data.declaration_date}}</p>
      </div>
      <div class="col-md-6 text-md-right text-center">
        <p>Program Name:</p>
        <p></p>
      </div>
    </div>
  </div>
</div>




<div class="container">
  <table border="1">
    <tr>
      <th>SPID</th>
      <th>Enrollment No</th>
      <th>Name</th>
      <th>Grade</th>
    </tr>
    {% for student in students_grade %}
    <tr>
      <td>{{student.student_exam.student_info.spid}}</td>
      <td>{{student.student_exam.exam_data.exam_type}}</td>
      <td>{{student.student_exam.student_info.name}}</td>
      <td>{{student.grade}}</td>
    </tr>
    {% endfor %}
  </table>
  <br />
  <p>Summary Table:</p>
  <table border="1">
    <tr>
      <th>AA</th>
      <th>AB</th>
      <th>BB</th>
      <th>BC</th>
      <th>CC</th>
      <th>CD</th>
      <th>DD</th>
      <th>FF</th>
    </tr>
    <tr>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </table>
  <br />
  <p>Graphical Representation:</p>
</div>
{% endblock %}