<!-- templates/upload_file.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Student Data</title>
</head>
<body>
    {% if user %}
    <h1>Upload Student Data</h1>
    <form method="POST" enctype="multipart/form-data", action="{% url 'upload_data' %}">
        {% csrf_token %}
        <label for="file">Upload Excel File:</label>
        <input type="file" name="file" accept=".xlsx, .xls" required>
        <button type="submit">Upload</button>
    </form>
    {% else %}
    <h2>Not permited</h2>
    {% endif %}

    {% if errors %}
        <h2>Errors Found</h2>
        <ul>
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
