{% extends 'base.html' %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'css/upload_data.css' %}" />
{% endblock %}
{% block content %}
    {% if user.is_superuser %}

    <div class="alert alert-info details" role="alert">
        <h4 class="alert-heading">  Upload Student Data
</h4>
        <p>Please upload excel file with .xls or .xlxs extension.</p>
        <hr>
        <p class="mb-0">Select all images to upload all at once.</p>
      </div>
        <div class="upload_div">
    <form method="POST" enctype="multipart/form-data", action="{% url 'upload_data' %}">
        {% csrf_token %}
     
        <label for="file">Upload Excel File:</label>
        <input type="file" name="file" accept=".xlsx, .xls" required>
        <button type="submit" class="upload">Upload</button> <br>
       
    </form>
    </div>
    <div class="upload_img">
    <form action="{% url 'upload_images'%}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <label for="images">Upload Images Folder:</label>
        <input type="file" name="images" id="images" multiple required>
        <button type="submit" class="upload">Upload</button>
    </form>
</div>
    {% else %}
    <h2>Not permited</h2>
    {% endif %}

    {% if errors %}
        <h2>Errors Found</h2>
        <ul>
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
