{% extends 'base.html' %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'css/upload_data.css' %}" />
{% endblock %}
{% block content %}
    {% if user.is_superuser %}

    <div class="alert alert-info details" role="alert">
        <h4 class="alert-heading">  Upload Student Data</h4>
        <p>Please upload excel file with .xls or .xlxs extension.</p>
        <hr>
        <p class="mb-0">Select all images to upload all at once.</p>
    </div>
    <div class="upload_div">
    <form method="POST" enctype="multipart/form-data", action="{% url 'upload_data' %}">
        {% csrf_token %}
     
        <label for="file">Upload Excel File:</label>
        <input type="file" name="file" accept=".xlsx, .xls" required>
        <button type="submit" class="upload">Upload</button> <br>
       
    </form>
    </div>
    <div class="upload_img">
    <form action="{% url 'upload_images'%}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <label for="images">Upload Images Folder:</label>
        <input type="file" name="images" id="images" multiple required>
        <button type="submit" class="upload">Upload</button>
    </form>
    
    </div>
    <div class="upload_div" >
        <form action="{% url "delete_data" %}" method="POST" enctype="" id="subform">
            {% csrf_token %}
    
            <label for="Delete Data">Select Exam Data:</label>
            <select name="del_dat" id="del" required>
                <option value="0" selected hidden disabled>Select Exam Data</option>
                {% for exam in exam %}
                <option value="{{exam.id}}">{{exam}}</option>
                {% endfor %}
            </select><br>
            <button type="Submit" class="upload" >Delete</button>
            
        </form>
    
    </div>
    <div class="upload_div">
        <form action="{% url "upload_subject" %}" method="POST" enctype="" id="subform">
            {% csrf_token %}
    
            <label for="Subject">Add a Subject:</label>
            <input type="text" name="subname" id="sub" placeholder="Subject Name" required>
            <input type="text" name="subcode" id="subc" placeholder="Subject Code" required>
            <input type="text" name="credits" id="subcred" required placeholder="Subject Credits" required> 
            <select name="year" id="year" required><option value="0" selected disabled hidden>Select Year</option></select>
            <button type="Submit" class="upload" >Add</button>
        </form>
    
    </div>
    
    <div class="upload_div" >
        <form action="{% url "map" %}" method="POST" enctype="" id="subform">
            {% csrf_token %}
    
            <label for="Subject Map">Map Subject:</label>
            <select name="subject" id="sname" required>
                <option value="0" selected hidden disabled>Select Subject</option>
                {% for subject in subjects %}
                <option value="{{subject.subject_code}}">{{subject.subject_name}}</option>
                {% endfor %}
            </select><br>
            <select name="branch" id="branch"required>
                <option value="0" selected hidden disabled>Select Branch</option>
                {% for branch in branches %}
                <option value="{{branch.branch_code}}">{{branch.branch_name}}</option>
                {% endfor %}
            </select> <br>
            <select name="sem" id="sem" required>
                <option value="0" selected hidden disabled>Select Semester</option>
                <option value="Semester 1" >Sem 1</option>
                <option value="Semester 2" >Sem 2</option>
                <option value="Semester 3" >Sem 3</option>
                <option value="Semester 4" >Sem 4</option>
                <option value="Semester 5" >Sem 5</option>
                <option value="Semester 6" >Sem 6</option>
                <option value="Semester 7" >Sem 7</option>
                <option value="Semester 8" >Sem 8</option>    
            </select><br>
            <select name="core" id="core"required>
                <option value="0" selected hidden disabled>Select Subject Group</option>
                <option value="Core">Core</option>
                <option value="OPEN">Open</option>
                <option value="PROFESSIONAL">PROFESSIONAL</option>
                
            </select>
            <select name="bssyear" id="year2" required><option value="0" selected disabled hidden>Select Year</option></select><br>
            <button type="Submit" class="upload" >Map</button>
            
        </form>
    
    </div>
    <div class="upload_div" >
        <form action="{% url "delete_map" %}" method="POST" enctype="" id="subform">
            {% csrf_token %}
    
            <label for="Subject Map">Select Map To Delete:</label>
            <select name="del_map" id="map" required>
                <option value="0" selected hidden disabled>Select Subject Mapping</option>
                {% for bss in bss %}
                <option value="{{bss.id}}">{{bss}}</option>
                {% endfor %}
            </select><br>
            <button type="Submit" class="upload" >Delete</button>
            
        </form>
    
    </div>
<script>
    let start_year=2000
    let end_year=new Date().getFullYear()
    function test(selector,text,value){
        var el=document.querySelector(selector)
        var op=document.createElement("option")
        op.text=text
        op.value=value
        el.add(op)
        
    }
    for(let i=2000;i<end_year;i++){
        test('#year',i,i)
        test('#year2',i,i)
    }
    function check(){
        val=document.getElementById("subc")
        cred=document.getElementById("subcred")
        if(Number.isInteger(Number(val.value)) && Number.isInteger(Number(cred.value))){
            document.getElementById("subform").submit()
        }
        else{
            location.reload()

        }
    }
</script>
    {% else %}
    <h2>Not permited</h2>
    {% endif %}

    {% if errors %}
        <h2>Errors Found</h2>
        <ul>
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
