/* style for student.html */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh);
    flex-direction: column;
    box-sizing: border-box;
}

.search {
    background-color: #005384;
    color: white;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

input {
    height: 35px;
    width: 350px;
    border-radius: 5px;
    border: 1px solid #a3a3a3;
    margin-right: 10px;
    padding: 10px;

}

.enrollment_div{
    display: flex;
    align-items: center;
    gap: 8px;
}

.enrollment_text {
    font-size: 18px;
    color: black;
    margin-bottom: 25px;

}
.name_text {
    font-size: 18px;
    color: black;
    margin-bottom: 25px;
}
#enrollment::placeholder{
    opacity: 0.8;
}
#name-search::placeholder{
    opacity: 0.8;
}
.enroll{
    
    display:flex;
    flex-direction:column;
    align-items: center;
}
.name{
    display:flex;
    flex-direction:column;
    align-items: center;
}
.or{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 42px 0px;
    height: 35px;
    width: 70px;
    border: 1px solid #757575;
    border-radius: 50%;
}
.name_div {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative; /* Set relative position for the container */
}



#suggestions-box {
    position: absolute; /* Make it relative to the parent container */
    top: 45px; /* Adjust the top value to align the suggestions box below the search bar */
    left: 0;
    width: 100%; /* Match the width of the input */
    max-height: 180px; /* Limit the height for scrollable suggestions */
    overflow-y: auto;
    border: 1px solid #B7B7B7;
    border-radius: 5px;
    background-color: white;
    z-index: 10; /* Ensure it appears above other elements */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: none; /* Hide by default */
}

#suggestions-box div {
    padding: 10px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    
}

#suggestions-box div:hover {
    background-color: #f0f0f0;
    color: #005384;
}