/* style for base.html */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navigation {

    background-color: #e6edf3;
    text-align: center;
    height: 65px;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navigation .navtext {
    margin-top: 17px;
    border: 0px;
}

.navtext h5 {
    font-size: 20px;
    font-weight: 700;
    border: none;
}

.navtext p {
    font-size: 13px;
    font-weight: 500;
    margin-top: -5px;
}

.logo {
    height: 65px;
    mix-blend-mode: multiply;
}

.sidebar {
    background-color: #005384;
    height: 100vh;
    position: fixed;
    top: 55px;
    width: 16.6667%;
    padding: 15px;
    z-index:2;
<<<<<<< HEAD
<<<<<<< HEAD
}
=======
>>>>>>> e118ad7da89e9daaa21d79c0305d31944346e6e5
=======
>>>>>>> 687f6d90d8c693fe2b4d201c2a69885de19ae46c

.sidebar .nav-link {
    color: white;
    padding: 15px 15px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar .nav-link:hover {
    background-color: #006ba8;
    color: #f9f9f9;
}



.content {
    margin-left: 16.6667%;
    padding: 20px 0px;
    width: 83.3333%;
}

ul {
    margin-top: 30px;
}

li {
    padding-top: 10px;
    font-size: 1.05em;
    border-bottom: 1px solid #e6edf3;

}

li i {
    font-size: .9em;
    rotate: 90deg;
}