/*style for subject.html*/
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 65px);
    flex-direction: column;
    box-sizing: border-box;
}

button {
    background-color: #005384;
    color: white;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    box-shadow: none;
    border: none;
}

.subject {
    height: 35px;
    border-radius: 5px;
    border: 1px solid #B7B7B7;
    margin-right: 10px;
    padding: 4px;

}

.year {
    height: 35px;
    border-radius: 5px;
    border: 1px solid #B7B7B7;
    margin-right: 10px;
    padding: 4px;

}


.subdiv {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sub_text {
    font-size: 18px;
    color: black;
    margin-bottom: 30px;
}